# === Database settings ===
SQL_HOST=localhost
SQL_PORT=5432
SQL_DATABASE=backoffice
SQL_USER=postgres
SQL_PASSWORD=password

# === URLs ===
GUEST_SERV_DOMAIN=localhost

USE_HTTPS=true

# === CORS ===
CORS_ENABLED=true
CORS_ALLOW_ORIGINS=*
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_METHODS=*
CORS_ALLOW_HEADERS=*
